In [3]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns 
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

connection_string = "mysql+pymysql://root:Nidhigoswami%40123@localhost/sakila"
engine = create_engine(connection_string)

In [16]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   film_id                    1000 non-null   int64
 1   title                      1000 non-null   object
 2   release_year               1000 non-null   int64
 3   rental_duration            1000 non-null   float64
 4   rental_rate                1000 non-null   float64
 5   length                     1000 non-null   float64
 6   special_features           1000 non-null   object
 7   total_rentals              1000 non-null   int64
 8   rented_last_month          1000 non-null   int64
 9   category_name_Animation    1000 non-null   bool
 10  category_name_Children     1000 non-null   bool
 11  category_name_Classics     1000 non-null   bool
 12  category_name_Comedy       1000 non-null   bool
 13  category_name_Documentary  1000 non-null   bool
 14  category_name_Drama        1000 non-null   bool
 15  category_name_Family       1000 non-null   bool
 16  category_name_Foreign      1000 non-null   bool
 17  category_name_Games        1000 non-null   bool
 18  category_name_Horror       1000 non-null   bool
 19  category_name_Music        1000 non-null   bool
 20  category_name_New          1000 non-null   bool
 21  category_name_Sci-Fi       1000 non-null   bool
 22  category_name_Sports       1000 non-null   bool
 23  category_name_Travel       1000 non-null   bool
 24  rating_NC-17               1000 non-null   bool
 25  rating_PG                  1000 non-null   bool
 26  rating_PG-13               1000 non-null   bool
 27  rating_R                   1000 non-null   bool
dtypes: bool(19), float64(3), int64(4), object(2)
memory usage: 89.0+ KB
None

In [14]:
#print(film_data.head())
#print(target_data.head())

print(target_data.shape)
print(target_data.head())

(0, 2)
Empty DataFrame
Columns: [film_id, rented_last_month]
Index: []

In [27]:
film_data_query = """
select
 f.film_id,
 f.title,
 f.release_year,
 f.rental_duration,
 f.rental_rate,
 f.length,
 f.rating,
 f.special_features,
 c.name as category_name,
 count(r.rental_id) as total_rentals
from
 film f
join 
 film_category fc on f.film_id = fc.film_id
join
 category c on fc.category_id = c.category_id
left join
 inventory i  on f.film_id = i.film_id
left join
 rental r on i.inventory_id = r.inventory_id
group by
 f.film_id, f.title, f.release_year, f.rental_duration, f.rental_rate, f.length, f.rating, f.special_features, c.name;
 """
film_data = pd.read_sql(film_data_query,engine)

rented_last_month_query = """
select
   f.film_id,
   case
       when count(r.rental_id) > 0 then 1
       else 0 
   end as rented_last_month
from
    film f
left join 
    inventory i on f.film_id = i.film_id
left join 
    rental r on i.inventory_id = r.inventory_id
where 
   r.rental_date between '2005-08-01' and '2005-08-31'
group by
    f.film_id;
"""
target_data = pd.read_sql(rented_last_month_query, engine)
data = pd.merge(film_data, target_data, on='film_id',how='left').fillna(0)

data = pd.get_dummies(data, columns = ['category_name', 'rating'], drop_first = True)

scaler = StandardScaler()
data[['rental_rate' , 'length' , 'rental_duration']] = scaler.fit_transform(data[['rental_rate','length','rental_duration']])
data.isnull().sum()

data_cleaned = data.drop(['title','special_features'],axis=1)
x = data_cleaned.drop('rented_last_month',axis=1)
y = data_cleaned['rented_last_month']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=42)

model = LogisticRegression(max_iter=1000)
model.fit(x_train, y_train)

y_pred = model.predict(x_test)


# Evaluate the Results

#Accuracy score
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}%")

# Confution matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confution matrix")
print(conf_matrix)

#Classification report
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 1.00%
Confution matrix
[[ 11   0]
 [  0 189]]
Classification Report:
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00        11
         1.0       1.00      1.00      1.00       189

    accuracy                           1.00       200
   macro avg       1.00      1.00      1.00       200
weighted avg       1.00      1.00      1.00       200

In [12]:
print(data.shape)
print(data.head())

(0, 9)
Empty DataFrame
Columns: [film_id, title, release_year, rental_duration, rental_rate, length, special_features, total_rentals, rented_last_month]
Index: []

In [19]:
print(data['rented_last_month'].value_counts())

rented_last_month
0    1000
Name: count, dtype: int64